<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

    <style>
        .bootstrap-iso .formden_header h2,
        .bootstrap-iso .formden_header p,
        .bootstrap-iso form {
            font-family: Arial, Helvetica, sans-serif;
            color: black
        }

        .bootstrap-iso form button,
        .bootstrap-iso form button:hover {
            color: white !important;
        }

        .asteriskField {
            color: red;
        }
    </style>

<body>
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label " for="name">
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        Nome
                                    </div>
                                    <input class="form-control" id="name" name="name" type="text" />
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        CNPJ
                                    </div>
                                    <input maxlength="13" onkeydown="javascript: fMasc( this, mCNPJ );"
                                        placeholder="__.___.___/_____-_" class="form-control" id="cnpj" name="cnpj"
                                        type="text" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label " for="qtC">
                                    Quantidade Vagas Carro
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-car">
                                        </i>
                                    </div>
                                    <input maxlength="4" onkeydown="javascript: fMasc( this, mNum );" class="form-control" id="qtC" name="qtC" type="text" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label " for="qtM">
                                    Quantidade Vagas Moto
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-motorcycle">
                                        </i>
                                    </div>
                                    <input maxlength="4" onkeydown="javascript: fMasc( this, mNum );" class="form-control" id="qtM" name="qtM" type="text" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label " for="end">
                                    Endere&ccedil;o
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-map-marker">
                                        </i>
                                    </div>
                                    <input class="form-control" id="end" name="end" type="text" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label " for="vlhora">
                                    Valor/hora
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-usd">
                                        </i>
                                    </div>
                                    <input maxlength="3" onkeydown="javascript: fMasc( this, mNum );" class="form-control" id="vlhora" name="vlhora" type="text" />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6" style="margin-left: 43%;">
                            <div class="form-group">
                                <div>
                                    <button style="width: 200px;" class="btn btn-primary " name="submit" type="submit">
                                        Cadastrar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>

        function fMasc(objeto, mascara) {
            obj = objeto
            masc = mascara
            setTimeout("fMascEx()", 1)
        }
        function fMascEx() {
            obj.value = masc(obj.value)
        }


        function mCNPJ(cnpj) {
            cnpj = cnpj.replace(/\D/g, "")
            cnpj = cnpj.replace(/^(\d{2})(\d)/, "$1.$2")
            cnpj = cnpj.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3")
            cnpj = cnpj.replace(/\.(\d{3})(\d)/, ".$1/$2")
            cnpj = cnpj.replace(/(\d{4})(\d)/, "$1-$2")
            return cnpj
        }

        function mNum(num) {
            num = num.replace(/\D/g, "")
            return num
        }
    </script>
    </head>

    <body>