<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gerenciador de Estacionamento</title>
  <link rel="stylesheet" href="styles/gerenciar.css">
</head>

<body>
  <div class="content">
    <header id="main-header">
      <img src="/images/banner.png" alt="Banner">
    </header>
  </div>
  <div class="wrapper-content content">
    <aside class="menu">
      <div class="content">
        <nav>
          <ul>
            <li>Listar Veículos</li>
            <li>Editar Estacionamento</li>
            <li>Excluir Estacionamento</li>
          </ul>
        </nav>
      </div>
    </aside>
    <section class="main">
      <div class="conteudo">
        <div class="info">
          <h1>Estacionamento Fulano</h1>
        </div>
      </div>
      <div class="estacionamento">
        <h2>Informações do Estacionamento</h2>
        <div class="estacionamento-info">
          <ul>
            <li><strong>Nome:</strong>Estacionamento Fulano ME</li>
            <li><strong>CNPJ:</strong>11.251.251/0001-52</li>
            <li><strong>Endereço:</strong>Rua Doutor Fulano de Tal, 505 - Aparecida, Santos/SP</li>
            <li><strong>Valor da Hora:</strong>R$ 10,00</li>
          </ul>
        </div>
      </div>
      <div class="vagas">

      </div>
    </section>
  </div>
  <div class="content">
    <footer id="rodape">
      <img src="/images/logo.png" alt="Logotipo">
      © Gerenciador de Estacionamento 2019
    </footer>
  </div>
</body>

</html>