<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gerenciador de Estacionamento</title>
  <link rel="stylesheet" href="styles/gerenciar.css">
</head>

<body>
  <div class="content">
    <header id="main-header">
      <img src="/images/banner.png" alt="Banner">
    </header>
  </div>
  <div class="wrapper-content content">
    <aside class="menu">
      <div class="content">
        <nav>
          <ul>
            <li>Listar Veículos</li>
            <li>Editar Estacionamento</li>
            <li>Excluir Estacionamento</li>
          </ul>
        </nav>
      </div>
    </aside>
    <section class="main">
      <div class="conteudo">
        <div class="info">
          <h1>Estacionamento Fulano</h1>
        </div>
        <div class="estacionamento">
          <h2>Informações do Estacionamento</h2>
          <div class="estacionamento-info">
            <ul>
              <li><strong>Nome:</strong>Estacionamento Fulano ME</li>
              <li><strong>CNPJ:</strong>11.251.251/0001-52</li>
              <li><strong>Endereço:</strong>Rua Doutor Fulano de Tal, 505 - Aparecida, Santos/SP</li>
              <li><strong>Valor da Hora:</strong>R$ 10,00</li>
            </ul>
          </div>
        </div>
        <div class="vagas">
          <h2>Vagas</h2>
          <div class="info-vagas">
            <ul>
              <li><strong>Vagas de Carros:</strong>20 |</li>
              <li><strong>Disponíveis:</strong>18 |</li>
              <li><strong>Ocupadas:</strong>2</li>
            </ul>
            <div class="vagas-disponiveis">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
              </ul>
            </div>
          </div>
          <div class="info-vagas">
            <ul>
              <li><strong>Vagas de Motocicletas:</strong>10 |</li>
              <li><strong>Disponíveis:</strong>7 |</li>
              <li><strong>Ocupadas:</strong>3</li>
            </ul>
            <div class="vagas-disponiveis">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="content">
    <footer id="rodape">
      <img src="/images/logo.png" alt="Logotipo">
      © Gerenciador de Estacionamento 2019
    </footer>
  </div>
</body>

</html>