<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Gerenciador de Estacionamento</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div class="content">
    <header id="main-header">
      <img src="/images/banner.png" alt="Banner">
    </header>
  </div>
  <div class="wrapper-content content">
    <aside class="menu">
      <div class="content">
        <nav>
          <ul>
            <li><a  href="/cadastro">Cadastrar Estacionamento</a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <section class="main">
      <div class="estacionamento">
        <div class="info">
          <h1>Estacionamento</h1>
          <div class="tags">
            <div class="vagas">
              <ul>
                <li><strong>Vagas Carro:</strong> 20</li>
                <li><strong>Vagas Moto:</strong> 10</li>
              </ul>
            </div>
            <div class="endereco"><strong>Endereço:</strong> Rua Doutor Fulano de Tal, 505 - Aparecida, Santos/SP</div>
          </div>
        </div>
        <a href="/gerenciar">Gerenciar</a>
      </div>
      
      <div class="estacionamento">
        <div class="info">
          <h1>Estacionamento Fulano</h1>
          <div class="tags">
            <div class="vagas">
              <ul>
                <li><strong>Vagas Carro:</strong> 20</li>
                <li><strong>Vagas Moto:</strong> 10</li>
              </ul>
            </div>
            <div class="endereco"><strong>Endereço:</strong> Rua Doutor Fulano de Tal, 505 - Aparecida, Santos/SP</div>
          </div>
        </div>
        <a href="/gerenciar.html">Gerenciar</a>
      </div>
      
      <div class="estacionamento">
        <div class="info">
          <h1>Estacionamento Fulano</h1>
          <div class="tags">
            <div class="vagas">
              <ul>
                <li><strong>Vagas Carro:</strong> 20</li>
                <li><strong>Vagas Moto:</strong> 10</li>
              </ul>
            </div>
            <div class="endereco"><strong>Endereço:</strong> Rua Doutor Fulano de Tal, 505 - Aparecida, Santos/SP</div>
          </div>
        </div>
        <a href="/gerenciar.html">Gerenciar</a>
      </div>
      
      <div class="estacionamento">
        <div class="info">
          <h1><span th:text="Estacionamento "></span></h1>
          <div class="tags">
            <div class="vagas">
              <ul>
                <li><strong>Vagas Carro:</strong> 20</li>
                <li><strong>Vagas Moto:</strong> 10</li>
              </ul>
            </div>
            <div class="endereco"><strong>Endereço:</strong> Rua Doutor Fulano de Tal, 505 - Aparecida, Santos/SP</div>
          </div>
        </div>
        <a href="/gerenciar.html">Gerenciar</a>
      </div>
    </section>
  </div>
  <div class="content">
    <footer id="rodape">
      <img src="/images/logo.png" alt="Logotipo">
      © Gerenciador de Estacionamento 2019
    </footer>
  </div>
</body>
<script>

</script>
</html>